:root {
  --ifm-color-primary: #D4AF37; /* gold */
  --ifm-color-primary-dark: #B9982E;
  --ifm-color-primary-darker: #A38628;
  --ifm-color-primary-darkest: #8F711F;
  --ifm-color-primary-light: #E1BF50;
  --ifm-color-primary-lighter: #E8C962;
  --ifm-color-primary-lightest: #F0D77A;
  --ifm-color-on-primary: #ffffff; /* text color on primary */
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(212, 175, 55, 0.1);
}

[data-theme='dark'] {
  --ifm-color-primary: #F0D77A;
  --ifm-color-primary-dark: #E8C962;
  --ifm-color-primary-darker: #E1BF50;
  --ifm-color-primary-darkest: #D4AF37;
  --ifm-color-primary-light: #B9982E;
  --ifm-color-primary-lighter: #A38628;
  --ifm-color-primary-lightest: #8F711F;
  --ifm-color-on-primary: #000000;
  --docusaurus-highlighted-code-line-bg: rgba(240, 215, 122, 0.2);
}
